{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "jest", "react", "prettier", "react-hooks"],
  "rules": {
    // ESLint rules
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/member-delimiter-style": "error",
    "@typescript-eslint/prefer-includes": 1,
    "@typescript-eslint/prefer-string-starts-ends-with": "error",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/require-await": "error",
    "@typescript-eslint/no-for-in-array": "error",
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-empty-interface": "error",

    // Not necessary type assertion. Note: add types to be ignored in typesToIgnore
    "@typescript-eslint/no-unnecessary-type-assertion": ["error", { "typesToIgnore": [] }],
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "@typescript-eslint/no-explicit-any": [
      "error",
      {
        "ignoreRestArgs": true
      }
    ],
    "@typescript-eslint/unbound-method": [
      "error",
      {
        "ignoreStatic": true
      }
    ],

    // we want to check ".tsx" files
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".jsx", ".tsx"]
      }
    ],

    "object-curly-spacing": ["warn", "always"],

    // Not necessary in Typescript
    "react/prop-types": "off",
    "react/no-direct-mutation-state": "off",
    "react/no-deprecated": "off",
    "react/no-string-refs": "off",
    "react/require-render-return": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "react/jsx-boolean-value": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-key": "error",

    // React Hooks
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "node": {},
      "typescript": {
        "alwaysTryTypes": true
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
